*{ /*universal*/
   margin: 0; /*margem*/
   padding: 0; /*espaçamento interno*/
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px; 
}
img{ /*estilo tag imagem*/
   height: 92px; /*Altura*/
}
a{ 
  text-decoration: none;  /*decoração do texto*/
   color: #1f1f1f;  /*cor do texto*/
   font-size: 13px; /*tamanho fonte*/
   font-family: sans-serif; /*tipo/familia da fonte*/
}

/*MAIN PRINCIPAL*/
.caixa-pesquisa{
   display: flex;
   width: 583px; /*Largura*/
   padding: 10px 14px; /*espaçamento interno*/
   align-items: center; /*alinhando os itens ao centro*/
   gap: 13px; /*espaçamento entre os elementos filho*/
   border: 1px solid #dfe1e5; /*borda*/
   border-radius: 100px; /*raio da borda*/
}
.caixa-icones{
   display: flex;
   align-items: center; /*alinhado na vertical*/
   gap: 16px; /*espaçamento entre os itens*/
}
.input-pesquisa{
   width: 100%; /*ocupar 100% da largura disponivel*/
   border: none; /*borda nenhuma*/
   outline: none; /*sombreamento quando selecionaqdo nenhum*/
}
.icone-lupa{
   width: 20px; /*Largura*/
   fill: #9aa0a6; /*Preenchimento*/
}
.icone-teclado{
   width: 20px; /*Largura*/
   height: 14px; /*altura*/
}
.icone-colorido{
   width: 24px; /*Largura*/
}



/*RODAPE*/
footer{ /*seletor da tag footer/rodape*/
   background-color: #f2f2f2; /*cor de fundo*/
}
.caixa-rodape{
   display: flex;
   padding: 15px 30px;
   justify-content: space-between;
}
.caixarodape--borda{
   border-bottom: 1px solid #dadce0;
}
.caixa-links{
   display: flex;
   gap: 30px; /*espaçamento entre os itens da div caixa-links*/
}
 
/*cabeçalho*/
header{
   display: flex;
   justify-content: flex-end; /*Horizontal,a direita no espaço disponível*/
   align-items: center; /*itens alinhados ao centro do espaço disponível*/
   gap: 15px; /*espaçamento entre os elementos dentro do header */
   padding: 10px 14px; /*espaçamento ao redor do header*/
}
.icone-produtos{
    width: 24px;/*largura*/
   fill: #444746; /*cor preenchimento*/
}
.botao-login{
    background-color: #1a73e8;/*cor plano de fundo*/
    color: white; /*cor do texto*/
    padding: 13px 12px;/*espaçamento interno*/
    font-weight: 500; /*peso da fonte*/
    border-radius: 40px ;/*raio da borda(curvatura)*/

}